# Visual Code
PM.Jellimix/.vs
PM.Jellimix/PM.ApplicationCore/bin
PM.Jellimix/PM.ApplicationCore/obj
PM.Jellimix/PM.Infrastructure/bin
PM.Jellimix/PM.Infrastructure/obj
PM.Jellimix/PM.Jellimix/bin
PM.Jellimix/PM.Jellimix/obj